/* 文明城市 */

/* ----  标题LOGO  ---- */
#city-logo {
    margin: 50px 0 0 135px;
    width: 225px;
    height: 72px;
}

#city_content {
    position: relative;
    top: 20px;
    left: 53px;
    width: 1094px;
    height: 100%;
    /*margin: 0 auto;*/
}

#city_left_panel {
    float: left;
    width: 768px;
    text-align: center;
}

#city_entry {
    float: left;
    width: 316px;
    text-align: center;
}

#city_ad_0 {
    float: left;
    margin: 3px 0;
    width: 446px;
    text-align: center;
}

#city_ad_1 {
    float: left;
    width: 768px;
    height: 232px;
    text-align: center;
    margin: 3px 0;
}

.city_entry_item {
    float: left;
    width: 152px;
    height: 111px;
    margin: 3px 3px;
}

#city_notices_board {
    position: absolute;
    left: 767px;
    top: 0;
    background: url(../images/notice-background.png);
    width: 370px;
    height: 450px;
    margin: 3px 3px;

}

.city_list_item {
    position: absolute;
    left: 10px;
    width: 300px;
    height: 30px;
    background-color: azure;
}

.city_list_item_text {
    position: absolute;
    left: 10px;
    top: 0px;
    width: 280px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}