/*.index {*/
/*background: url(../images/bg-img.jpg) no-repeat;*/
/*background-size: 100%;*/
/*font-size: 100%;*/
/*}*/
body {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    margin: 10px;
}

/* ----  标题LOGO  ---- */
.title-logo {
    margin: 59px 0 0 50px;
    width: 225px;
    height: 72px;
}

/* ----  内容版块  ---- */
.row {
    margin: 0 auto;
}

.post-entry {
    float: left;
    margin: 16px 0 0 20px;
}

.example-post {
    float: left;
    margin-right: 10px;
}

#example-post-1 {
    width: 354px;
    height: 285px;
}

#example-post-2 {
    width: 449px;
    height: 285px;
}

.list-item {
    float: left;
    margin-top: 16px;
}

.list-item-bar {
    text-align: center;
    letter-spacing: 20px;
    font-size: 29px;
    color: #FFFFFF;
}

.list-item-content {
    margin-top: 13px;
    margin-left: 10px;
    font-size: 19px;
}

.list-item-more {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

/* ----  功能版块  ---- */
.btn-entry {
    float: left;
    margin: 10px 64px;
}

.btn-entry-item {
    float: left;
    margin: 20px 10px;
}

/* ----  底部栏  ---- */
#weather-forecast {
    position: absolute;
    bottom: 0;
    left: 0;
    /*float: left;*/
    margin: 0 0 40px 60px;
    z-index: 9999;
}

#intro-btn-usage {
    position: absolute;
    bottom: 0;
    right: 0;
    /*float: right;*/
    margin: 0 60px 36px 0;
    z-index: 9999;
}

/* ----  焦点区  ---- */
#self_ad_focus {
    position: absolute;
    visibility: visible;
    z-index: 999;
    opacity: 1;
}

/* ----  调试区  ---- */
#message {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 20px;
    z-index: 9999999;
    /*visibility: hidden;*/
}