#index-logo{
    margin: 24px 0 0 50px;
}

.post-entry {
    position: absolute;
    left: 25px;
    top: 136px;
}

.example-post {
    float: left;
    /*margin-right: 10px;*/
}

#example-post-1 {
    width: 354px;
    height: 300px;
}

#example-post-2 {
    width: 500px;
    height: 300px;
}

#icon_video_play {
    position: absolute;
    left: 580px;
    top: 158px;
}

#index_notices_board {
    position: absolute;
    left: 880px;
    top: 136px;
    background: url(../images/bg-list-item.png);
    width: 380px;
    height: 300px;
    /*margin: 3px 3px;*/
}

.index_list_item {
    position: absolute;
    left: 10px;
    width: 350px;
    height: 30px;
}

.index_list_item_text {
    position: absolute;
    left: 10px;
    top: 0;
    width: 340px;
    height: 30px;
    line-height: 30px;
    font: 25px "Microsoft YaHei";
    overflow: hidden;
}

#index_list-item-more {
    position: absolute;
    right: 35px;
    bottom: 20px;
}

/* ----  功能版块  ---- */
.btn-entry-item {
    position: absolute;
    /*float: left;*/
    top: 462px;
    width: 141px;
    height: 142px;
    margin: 1px 10px 20px 10px;
}