<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页</title>
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/index.css">
</head>

<body>

<div class="title-logo"
     style="background: url('../images/index-logo.png') no-repeat; "></div>

<div class="row">
    <div class="post-entry">
        <div id="example-post-1" class="example-post">
            <img src="../images/example-post-3.png" width="353px" height="282px">
        </div>
        <div id="example-post-2" class="example-post">
            <img src="../images/example-post-4.png" width="449px" height="282px">
            <img id="icon_video_play" src="../images/video_play.PNG" width="73" height="71">
        </div>
    </div>

    <div id="index_notices_board">
        <div class="politics_notices_board_bar"
             style="background: url(../images/list-item-bar.png) no-repeat; width: 388px; height: 40px;"></div>
        <div id="list_menu_0" class="index_list_item" style="top: 50px;">
            <div class="index_list_item_text">"美丽莆田 社会治理"司法行政创新现场会</div>
        </div>
        <div id="list_menu_1" class="index_list_item" style="top: 86px;">
            <div class="index_list_item_text">建设美丽莆田行动纲要</div>
        </div>
        <div id="list_menu_2" class="index_list_item" style="top: 122px;">
            <div class="index_list_item_text">美丽港城 冉冉起</div>
        </div>
        <div id="list_menu_3" class="index_list_item" style="top: 158px;">
            <div class="index_list_item_text">拱辰街道依法拆除违章建筑</div>
        </div>
        <div id="list_menu_4" class="index_list_item" style="top: 194px;">
            <div class="index_list_item_text">开启“智慧物流” 助力物畅其流</div>
        </div>
        <div id="index_list-item-more"
             style="background: url(../images/list-item-more.png) no-repeat; width: 126px; height: 18px;"></div>
    </div>


</div><!--  row  -->

<div id="btn-item-0" class="btn-entry-item" style="left: 74px">
    <img id="item-img-0" src="../images/btn-intro.png"/>
</div>
<div id="btn-item-1" class="btn-entry-item" style="left: 235px">
    <img id="item-img-1" src="../images/btn-peace.png"/>
</div>
<div id="btn-item-2" class="btn-entry-item" style="left: 396px">
    <img id="item-img-2" src="../images/btn-affairs.png"/>
</div>
<div id="btn-item-3" class="btn-entry-item" style="left: 557px">
    <img id="item-img-3" src="../images/btn-building.png"/>
</div>
<div id="btn-item-4" class="btn-entry-item" style="left: 718px">
    <img id="item-img-4" src="../images/btn-culture.png"/>
</div>
<div id="btn-item-5" class="btn-entry-item" style="left: 879px">
    <img id="item-img-5" src="../images/btn-public.png"/>
</div>
<div id="btn-item-6" class="btn-entry-item" style="left: 1040px">
    <img id="item-img-6" src="../images/btn-service.png"/>
</div>

<div id="weather-forecast"></div>
<div id="intro-btn-usage"></div>

<div id="self_ad_focus">
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td width="10" height="10"
                style="background:url(../images/focus_lt.png) no-repeat;"></td>
            <td style="background:url(../images/focus_t.png) repeat-x;"></td>
            <td width="10" style="background:url(../images/focus_rt.png) no-repeat;"></td>
        </tr>
        <tr>
            <td style="background:url(../images/focus_l.png) repeat-y;"></td>
            <td>&nbsp;</td>
            <td style="background:url(../images/focus_r.png) repeat-y;"></td>
        </tr>
        <tr>
            <td width="10" height="10" style="background:url(../images/focus_lb.png) no-repeat;"></td>
            <td style="background:url(../images/focus_b.png) repeat-x;"></td>
            <td style="background:url(../images/focus_rb.png) no-repeat;"></td>
        </tr>
        </tbody>
    </table>
</div><!-- self_ad_focus -->
<div id="debug-message"></div>
</body>

<script type="application/javascript" src="../script/utility.js"></script>
<script type="application/javascript" src="../script/keyEvent.js"></script>
<script type="application/javascript">

    var menuObj = {

            focusPos: 0,
            focusItemName: "",                // 记录光标定位的元素名称
            menuPosArray: [
                {left: 74, top: 462, width: 141, height: 142},
                {left: 235, top: 462, width: 141, height: 142},
                {left: 396, top: 462, width: 141, height: 142},
                {left: 557, top: 462, width: 141, height: 142},
                {left: 718, top: 462, width: 141, height: 142},
                {left: 879, top: 462, width: 141, height: 142},
                {left: 1040, top: 462, width: 141, height: 142}
            ]
            ,
            menuItemArray: null,

            init: function () {

                this.menuItemArray = new Array();
                this.menuItemArray.push({
                    name: "index_intro",
                    url: "intro.html?focusArea=0&focusPos=0"
                });
                this.menuItemArray.push({
                    name: "index_building",
                    url: "peace.html?focusArea=0&focusPos=1"
                });
                this.menuItemArray.push({
                    name: "index_affairs",
                    url: "affairs.html?focusArea=0&focusPos=2"
                });
                this.menuItemArray.push({
                    name: "index_politics",
                    url: "building.html?focusArea=0&focusPos=3"
                });
                this.menuItemArray.push({
                    name: "index_city",
//                url: " http://10.184.255.11/portal2/ggsy.html"
                    url: "city.html?focusArea=0&focusPos=4"
                });
                this.menuItemArray.push({
                    name: "index_public",
                    url: "http://10.184.255.4:8080/portal2/ggsy.html"
                });
                this.menuItemArray.push({
                    name: "index_service",
                    url: "service.html?focusArea=0&focusPos=6"
                });

            }
            ,

            focusOn: function () {
                console.info("menuObj ==> focusOn ==> " + this.focusPos);

                var _imgNode = document.getElementById("item-img-" + this.focusPos);
                _imgNode.style.width = 169 + "px";
                _imgNode.style.height = 169 + "px";
//            _imgNode.style.marginTop = -5 + "px";
//            _imgNode.style.marginLeft = -10 + "px";

                var _btnNode = document.getElementById("btn-item-" + this.focusPos);
                _btnNode.style.marginLeft = 0 + "px";
//            _btnNode.style.marginRight = 0 + "px";
//            _btnNode.style.marginTop = -10 + "px";

            }
            ,

            focusOut: function () {
                console.info("menuObj ==> focusOut ==> " + this.focusPos);

                var _imgNode = document.getElementById("item-img-" + this.focusPos);
                _imgNode.style.width = 141 + "px";
                _imgNode.style.height = 142 + "px";
//            _imgNode.style.marginTop = 0 + "px";
//            _imgNode.style.marginLeft = 0 + "px";

                var _btnNode = document.getElementById("btn-item-" + this.focusPos);
                _btnNode.style.marginLeft = 10 + "px";
//            _btnNode.style.marginRight = 10 + "px";
//            _btnNode.style.marginTop = 0 + "px";
            }
            ,

            moveX: function (_direction) {

                console.info("menuObj ==> moveX");

                this.focusOut();

                menuObj.focusPos += _direction;

                if (menuObj.focusPos >= 0 && menuObj.focusPos < menuObj.menuPosArray.length) {

                } else if (menuObj.focusPos < 0) {

                    menuObj.focusPos = menuObj.menuPosArray.length - 1;


                } else {

                    menuObj.focusPos = 0;

                }

                this.focusOn();
            }
            ,

            moveY: function (_direction) {

                this.focusOut();

                controller.focusArea = 1;     // 光标定位在菜单区域,上下移动光标都到海报区域
                postObj.focusOn();

            }
            ,

            doSelect: function () {

                var link = this.menuItemArray[this.focusPos].url;

                if ("" != link) {
                    window.location.href = link;
                }

            }
        },
        postObj = {

            focusPos: 0,                // 记录光标在区域内的位置
            postItemArray: [
                {
                    left: 28,
                    top: 152,
                    width: 354,
                    height: 285,
                    url: "video.html?assetId=FFMZ0000000000009141&backUrl=" + encodeURIComponent(window.location.href)
                },

                {
                    left: 392,
                    top: 152,
                    width: 452,
                    height: 285,
                    url: "monitor.html?rtsp=rtsp://10.184.255.7:554/140801121006552&backUrl=" + encodeURIComponent(window.location.href)
                }
            ],

            init: function () {
            },

            focusOn: function () {

                var _focusNode = document.getElementById("self_ad_focus");
                _focusNode.style.visibility = "visible";
                _focusNode.style.left = this.postItemArray[this.focusPos].left + "px";
                _focusNode.style.top = this.postItemArray[this.focusPos].top + "px";
                _focusNode.style.width = this.postItemArray[this.focusPos].width + "px";
                _focusNode.style.height = this.postItemArray[this.focusPos].height + "px";

            },

            focusOut: function () {
                var _focusNode = document.getElementById("self_ad_focus");
                _focusNode.style.visibility = "hidden";
            },

            moveX: function (_direction) {

                this.focusOut();

                this.focusPos += _direction;

                if (this.focusPos >= 0 && this.focusPos < this.postItemArray.length) {

                    this.focusOn();

                } else if (this.focusPos < 0) {

                    this.focusPos = 0;

                    controller.focusArea = 2;
                    listObj.focusOn();

                } else {

                    this.focusPos = this.postItemArray.length - 1;

                    controller.focusArea = 2;
                    listObj.focusOn();
                }

            },

            moveY: function (_direction) {

                this.focusOut();

                controller.focusArea = 0;
                menuObj.focusOn();

            },

            doSelect: function () {

                var link = this.postItemArray[this.focusPos].url;
                if ("" != link) {
                    window.location.href = link;
                }

            }
        },
        listObj = {

            focusPos: 0,                        // 记录光标在区域内的位置
            listItemNum: 6,                     // 列表元素的显示数量
            listItemArray: [
                {left: 861, top: 200, width: 378, height: 23},
                {left: 861, top: 235, width: 378, height: 23},
                {left: 861, top: 270, width: 378, height: 23},
                {left: 861, top: 315, width: 378, height: 23},
                {left: 861, top: 350, width: 378, height: 23},
                {left: 1061, top: 385, width: 158, height: 23}
            ],
            listItemTitleArray: [],

            init: function () {

//            var arrayNum = 5;
//            for (var t = 0; t < arrayNum && t < this.listItemNum; t++) {
//                this.addListItem("111", "测试", 1, 111);
//            }
                this.addListItem("111", '"美丽莆田 社会治理"司法行政创新现场会', 1, 111);
                this.addListItem("111", '建设美丽莆田行动纲要', 1, 111);
                this.addListItem("111", '美丽港城 冉冉起', 1, 111);
                this.addListItem("111", '拱辰街道依法拆除违章建筑', 1, 111);
                this.addListItem("111", '开启“智慧物流” 助力物畅其流', 1, 111);


                listObj.addListItem(0, ">>更多信息", 0, 0);
//            this.setListItemTitle();

            },

            setListItemTitle: function () {

                for (var i = 0; i < listObj.listItemTitleArray.length; i++) {

                    $("message").innerHTML += "<br/>" + "listObj ==> setListItemTitle ==> Title = " + listObj.listItemTitleArray[i].title;

                    $("list_menu_" + i).children[0].innerHTML = listObj.listItemTitleArray[i].title;
                    $("list_menu_" + i).children[0].style.color = "#000000";

                }

            },

            addListItem: function (_assetID, _title, _flag, _id) {

                if (this.listItemTitleArray.length >= this.listItemNum) {

                    this.listItemTitleArray.pop();

                }

                this.listItemTitleArray.push({assetID: _assetID, title: _title, flag: _flag, id: _id});

            },

            removeAllListItem: function () {

                while (this.listItemTitleArray.length > 0) {

                    this.listItemTitleArray.pop();

                }

            },

            focusOn: function () {

                var _focusNode = document.getElementById("self_ad_focus");
                _focusNode.style.visibility = "visible";

                _focusNode.style.left = this.listItemArray[this.focusPos].left + "px";
                _focusNode.style.top = this.listItemArray[this.focusPos].top + "px";
                _focusNode.style.width = this.listItemArray[this.focusPos].width + "px";
                _focusNode.style.height = this.listItemArray[this.focusPos].height + "px";

                var _focusListItem = document.getElementById("list_menu_" + this.focusPos);
                if (null != _focusListItem) {
                    showTitleForMarquee(this.listItemTitleArray[this.focusPos].title, _focusListItem.children[0], 13);
                }
//            document.getElementById("list_menu_" + this.focusPos).children[0].style.color = "#0000FF";

            },

            focusOut: function () {

                var _focusNode = document.getElementById("self_ad_focus");
                _focusNode.style.visibility = "hidden";

                var _focusListItem = document.getElementById("list_menu_" + this.focusPos);
                if (null != _focusListItem) {
                    _focusListItem.children[0].innerHTML = this.listItemTitleArray[this.focusPos].title;
                }
//            document.getElementById("list_menu_" + this.focusPos).children[0].style.color = "#000000";

            },

            moveX: function (_direction) {

                this.focusOut();

                if (_direction < 0) {

                    postObj.focusPos = postObj.postItemArray.length - 1;

                } else {

                    postObj.focusPos = 0;

                }

                controller.focusArea = 1;

                postObj.focusOn();

            },

            moveY: function (_direction) {

                this.focusOut();

                this.focusPos += _direction;

                if (this.focusPos >= 0 && this.focusPos < this.listItemTitleArray.length) {

                    this.focusOn();

                } else if (this.focusPos < 0) {

                    this.focusPos = 0;

                    controller.focusArea = 0;
                    menuObj.focusOn();

                } else {

                    this.focusPos = this.listItemTitleArray.length - 1;

                    controller.focusArea = 0;
                    menuObj.focusOn();
                }

            },

            doSelect: function () {

                var _link = "";

                if (this.listItemTitleArray[this.focusPos].flag == 1) {     // 文字列表项

                    _link = "play.html?assetid=" + this.listItemTitleArray[this.focusPos].assetID +
                        "&backUrl=" + encodeURIComponent(window.location.href);


                } else {                                                    // 更多内容

                    _link = "more.html?resourceId=" + paramObj.djjyResourceIdArray[0].resourceId +
                        "&focusArea=2&focusPos=" + this.focusPos;

                }

                window.location.href = _link;
            }
        },
        controller = {
            focusArea: 1,                   // 当前光标所在区域
            timeoutID: 0,


            init: function () {

                menuObj.init();                 // 初始化菜单项
                listObj.init();                 // 初始化列表项

//            ajaxForQueryTListMenuTitle();   // 异步提取列表内容
//
                var paramObj = parseRequestUrl();    // 解析URL链接，得到区域及位置参数

                if (paramObj.hasOwnProperty("focusArea")) {

                    console.info("==>   focusArea = " + paramObj["focusArea"]);
                    this.focusArea = parseInt(paramObj["focusArea"]);

                }

                if (paramObj.hasOwnProperty("focusPos")) {

                    console.info("==>   focusPos = " + paramObj["focusPos"]);
                    switch (this.focusArea) {
                        case 0:
                            menuObj.focusPos = parseInt(paramObj["focusPos"]);
                            break;
                        case 1:
                            postObj.focusPos = parseInt(paramObj["focusPos"]);
                            break;
                        case 2:
                            listObj.focusPos = parseInt(paramObj["focusPos"]);
                            break;
                        default:
                            break;
                    }
                }

                this.focusOn();                 // 光标定位至目标位置
//            document.getElementById("debug-message").innerHTML = "----- 调试区 -----";

            },


            focusOn: function () {

                switch (this.focusArea) {
                    case 0:             // 菜单

                        menuObj.focusOn();

                        break;
                    case 1:             // 海报

                        postObj.focusOn();

                        break;
                    case 2:             // 文字列表

                        listObj.focusOn();

                        break;
                    default:
                        break;
                }
            },

            focusOut: function () {

            },

            moveX: function (_direction) {

                console.info("controller ==> moveX " + _direction);

                switch (this.focusArea) {
                    case 0:             // 菜单

                        menuObj.moveX(_direction);

                        break;
                    case 1:             // 海报

                        postObj.moveX(_direction);

                        break;
                    case 2:             // 文字列表

                        listObj.moveX(_direction);

                        break;
                    default:
                        break;
                }

            },

            moveY: function (_direction) {

                switch (this.focusArea) {
                    case 0:             // 菜单

                        menuObj.moveY(_direction);

                        break;
                    case 1:             // 海报

                        postObj.moveY(_direction);

                        break;
                    case 2:             // 文字列表

                        listObj.focusOut();
                        listObj.moveY(_direction);

                        break;
                    default:
                        break;
                }

            },

            doSelect: function () {

//            $("message").innerHTML += "<br/>" + "controller ==> doSelect";

//            if (window.sessionStorage) {
//                window.sessionStorage.setItem("focusArea", this.focusArea);
//            }

                switch (this.focusArea) {
                    case 0:             // 菜单

//                    if (window.sessionStorage) {
//                        window.sessionStorage.setItem("focusPos", menuObj.focusPos);
//                    }

                        menuObj.doSelect();

                        break;
                    case 1:             // 海报

//                    if (window.sessionStorage) {
//                        window.sessionStorage.setItem("focusPos", postObj.focusPos);
//                    }

                        postObj.doSelect();

                        break;
                    case 2:             // 文字列表

//                    if (window.sessionStorage) {
//                        window.sessionStorage.setItem("focusPos", listObj.focusPos);
//                    }

                        listObj.doSelect();

                        break;
                    default:
                        break;
                }

            },

            doBack: function () {

                window.location.href = "http://10.184.255.11:80/ptmlxc/index.htm";  // 美丽乡村列表页

            }
        };

    /**
     * fetching data including image, video according to resource id
     * resourceId: Id of corresponding resource
     * num: count of fetching items each time
     * */
    function ajaxForQueryTListMenuTitle() {

        var _url = paramObj.serverUrl +
            "queryTitleListMobile.shtml?resourceId=" +
            paramObj.djjyResourceIdArray[0].resourceId +
            "&num=" + (listObj.listItemNum + 1) +
            "&cur_page=1";

        $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ";
        $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> URL: " + _url;

        ajax({
            url: _url,
            type: "GET",                    //  HTTP 请求类型,GET或POST
            dataType: "html",               //  请求的文件类型html/xml

            onSuccess: function (html) {    //请求成功后执行[可选]

                $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> onSuccess";
                $("message").innerHTML += "<br/>" + "===>  Response = " + html;

                var json = eval('(' + html + ')');
                if ("1" == json.code || 1 == json.code) {

                    listObj.removeAllListItem();

                    for (var j = 0; j < json.dataArray.length && j < listObj.listItemNum; j++) {
                        if (json.dataArray[j].flag == "1") {

                            $("message").innerHTML += "<br/>" + "===>  AssetID in json = " + json.dataArray[j].assetid;
                            $("message").innerHTML += "<br/>" + "===>  Title in json = " + json.dataArray[j].title;
                            $("message").innerHTML += "<br/>" + "===>  ID in json = " + json.dataArray[j].id;

                            listObj.addListItem(json.dataArray[j].assetid, json.dataArray[j].title, json.dataArray[j].flag, json.dataArray[j].id);
                        }
                    }

                    if (json.dataArray.length > listObj.listItemNum) {
                        listObj.addListItem(0, ">>更多信息", 0, 0);
                    }

                    listObj.setListItemTitle();


                } else {

//                        ajaxForBigImage();

                }

            },

            onError: function () { //请求失败后执行[可选]

                $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> onError";

            },

            onComplete: function () {// 请求成功.失败或完成(无论成功失败都会调用)时执行的函数[可选]

                $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> onComplete";

            },

            post: "",
            timeout: 7000  //请求的超时时间，默认7000ms，也可自行设定[可选]
        });
    }

    function grabEvent(_event) {

        var code = Event(_event);

        switch (code) {
            case "KEY_UP": //
                controller.moveY(-1);
                return false;
            case "KEY_DOWN": //
                controller.moveY(1);
                return false;
            case "KEY_LEFT": //
                controller.moveX(-1);
                return false;
            case "KEY_RIGHT": //
                controller.moveX(1);
                return false;
            case "KEY_PAGE_UP": //
//                controller.changePage(-1);
                return false;
            case "KEY_PAGE_DOWN": //
//                controller.changePage(1);
                return false;
            case "KEY_SELECT": //
                controller.doSelect();
                return false;
            case "KEY_EXIT":
            case "KEY_BACK":
                controller.doBack();
                return false;
            default:
                break;
        }
    }

    document.onkeydown = grabEvent;
    window.onload = controller.init();

</script>
</html>