<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>首页</title>
    <link rel="stylesheet" href="../style/common.css">
</head>

<body class="index">

<div class="title-logo"></div>

<div class="row">
    <div class="post-entry">
        <div id="example-post-1" class="example-post">
            <img src="../images/example-post-1.png">
        </div>
        <div id="example-post-2" class="example-post">
            <img src="../images/example-post-2.png">
        </div>
    </div>

    <div class="list-item">
        <div class="list-item-bar"><strong>最新动态</strong></div>
        <div class="list-item-content">"美丽莆田 社会治理"司法行政创新现场会</div>
        <div class="list-item-content">建设美丽莆田行动纲要</div>
        <div class="list-item-content">美丽港城 冉冉起</div>
        <div class="list-item-content">拱辰街道依法拆除违章建筑</div>
        <div class="list-item-content">开启“智慧物流” 助力物畅其流</div>
        <div class="list-item-more"></div>
    </div>


</div><!--  row  -->
<div class="btn-entry">
    <div class="btn-entry-item"
         style="background: url('../images/btn-intro.png') no-repeat; width: 141px; height: 142px"></div>
    <div class="btn-entry-item"
         style="background: url('../images/btn-peace.png') no-repeat; width: 141px; height: 142px"></div>
    <div class="btn-entry-item"
         style="background: url('../images/btn-affairs.png') no-repeat; width: 141px; height: 142px"></div>
    <div class="btn-entry-item"
         style="background: url('../images/btn-building.png') no-repeat; width: 141px; height: 142px"></div>
    <div class="btn-entry-item"
         style="background: url('../images/btn-culture.png') no-repeat; width: 141px; height: 142px"></div>
    <div class="btn-entry-item"
         style="background: url('../images/btn-public.png') no-repeat; width: 141px; height: 142px"></div>
    <div class="btn-entry-item"
         style="background: url('../images/btn-service.png') no-repeat; width: 141px; height: 142px"></div>

</div><!--  btn-entry  -->

<div class="foot">
    <div class="weather-forecast"></div>
    <div class="intro-btn-usage"></div>
</div><!--foot-->
</body>

</html>