<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>走进拱辰</title>
    <link rel="stylesheet" href="../style/common.css">
</head>
<body>

<div class="title-logo"
     style="background: url('../images/intro-logo.png') no-repeat; "></div>

<div class="row"
     style="background: url('../images/intro-content.png') no-repeat; width: 1084px; height: 457px; )"></div>

<div id="weather-forecast"></div>
<div id="intro-btn-usage"></div>

</body>

<script type="application/javascript" src="../script/utility.js"></script>
<script type="application/javascript" src="../script/async.js"></script>
<script type="application/javascript" src="../script/keyEvent.js"></script>
<script type="application/javascript">

    var controller = {

        init: function () {
            console.info("intro.html ==>    controller ==>    init");
            transferStation.record();
            ajaxForWeather();                // 获取天气信息
        },

        doBack: function () {

            var _url = "index.html?focusArea=" + transferStation.idxFocusArea + "&focusPos=" + transferStation.idxFocusPos;

            window.location.href = _url;

        }


    };

    function grabEvent(_event) {

        var code = Event(_event);

        switch (code) {
            case "KEY_UP": //
                return false;
            case "KEY_DOWN": //
                return false;
            case "KEY_LEFT": //
                return false;
            case "KEY_RIGHT": //
                return false;
            case "KEY_PAGE_UP": //
//                controller.changePage(-1);
                return false;
            case "KEY_PAGE_DOWN": //
//                controller.changePage(1);
                return false;
            case "KEY_SELECT": //
                return false;
            case "KEY_EXIT":
            case "KEY_BACK":
                controller.doBack();
                return false;
            default:
                break;
        }
    }
    document.onkeydown = grabEvent;
    window.onload = controller.init();
</script>
</html>