<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../style/common.css"/>
    <link rel="stylesheet" type="text/css" href="../style/more.css"/>
    <title>更多内容</title>
</head>

<body>
<div class="subject"></div>
<div id="more_page">
    <div id="more_page_item_0" class="more_page_item" style="left: 6px;">
        <div id="more_page_item_img_0" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_0" class="more_page_item_text"></div>
    </div>

    <div id="more_page_item_1" class="more_page_item" style="left: 302px;">
        <div id="more_page_item_img_1" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_1" class="more_page_item_text"></div>
    </div>

    <div id="more_page_item_2" class="more_page_item" style="left: 598px;">
        <div id="more_page_item_img_2" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_2" class="more_page_item_text"></div>
    </div>

    <div id="more_page_item_3" class="more_page_item" style="left: 894px;">
        <div id="more_page_item_img_3" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_3" class="more_page_item_text"></div>
    </div>
    <div id="more_page_item_4" class="more_page_item" style="left: 6px; top: 250px;">
        <div id="more_page_item_img_4" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_4" class="more_page_item_text"></div>
    </div>

    <div id="more_page_item_5" class="more_page_item" style="left: 302px; top: 250px;">
        <div id="more_page_item_img_5" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_5" class="more_page_item_text"></div>
    </div>

    <div id="more_page_item_6" class="more_page_item" style="left: 598px; top: 250px;">
        <div id="more_page_item_img_6" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_6" class="more_page_item_text"></div>
    </div>

    <div id="more_page_item_7" class="more_page_item" style="left: 894px; top: 250px;">
        <div id="more_page_item_img_7" class="more_page_item_img">
            <img alt="item_img" src="" height="202" width="268"/>
        </div>
        <div id="more_page_item_text_7" class="more_page_item_text"></div>
    </div>

    <!--<div id="more_page_index_img">-->
    <!--<div id="more_page_index">-->
    <!--1/1-->
    <!--</div>-->
    <!--</div>-->
</div>

<!--底部-->
<div id="weather-forecast"></div>
<div id="intro-btn-usage"></div>

<div id="self_ad_focus">
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td width="10" height="10"
                style="background:url(../images/focus_lt.png) no-repeat;"></td>
            <td style="background:url(../images/focus_t.png) repeat-x;"></td>
            <td width="10" style="background:url(../images/focus_rt.png) no-repeat;"></td>
        </tr>
        <tr>
            <td style="background:url(../images/focus_l.png) repeat-y;"></td>
            <td>&nbsp;</td>
            <td style="background:url(../images/focus_r.png) repeat-y;"></td>
        </tr>
        <tr>
            <td width="10" height="10" style="background:url(../images/focus_lb.png) no-repeat;"></td>
            <td style="background:url(../images/focus_b.png) repeat-x;"></td>
            <td style="background:url(../images/focus_rb.png) no-repeat;"></td>
        </tr>
        </tbody>
    </table>
</div><!-- self_ad_focus -->
<div id="debug-message"></div>

</body>

<script type="application/javascript" src="../script/async.js"></script>
<script type="application/javascript" src="../script/utility.js"></script>
<script type="application/javascript" src="../script/keyEvent.js"></script>
<script type="text/javascript">

    function MoreHelper() {
        this.perRowsInPage = 2;         //  每页最多显示两行
        this.perItemsInRow = 4;         //  每行最多显示四项
        this.focusPosX = 0;           //  默认定位在第一行第一项
        this.focusPosY = 0;
        this.pageIndex = 0;
        this.resourceId = 0;
        this.displayItemArray = [];
        this.displayItemArray[0] = [];
        this.displayItemArray[1] = [];

        this.init = function (resourceId, pageIndex) {
//            var data = [
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21},
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21},
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21},
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21},
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21},
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21},
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21},
//                {assetid: 111, img: "../images/post-1.jpg", title: "iiiiiiiii", flag: 0, id: 21}
//            ];

            var that = this,
                i,
                count = this.perRowsInPage * this.perItemsInRow,
                postman = new Postman(),
                _url = paramObj.serverUrl +
                    "queryTitleListMobile.shtml?resourceId=" + resourceId + "&num=" + count + "&cur_page=" + pageIndex;

            for (i = 0; i < count; i++) {
                document.getElementById("more_page_item_" + i).style.visibility = "hidden";
            }

//            this.addItems(data);
//            this.focusOn();

            if (resourceId !== "") {
                document.getElementById("debug-message").innerHTML += "<br/>" + " URL ==> " + _url;

                postman.createXmlHttpRequest(
                    function (html) {
                        var json = eval('(' + html + ')');

                        if ("1" === json.code || 1 === json.code) {
                            if (json.dataArray.length > 0) {
                                that.resourceId = resourceId;
                                that.pageIndex = pageIndex;
                                that.addItems(json.dataArray);
                                that.focusOn();
                            }
                        }
                    },
                    function (error) {
                        document.getElementById("debug-message").innerHTML += "<br/>" + " Error ==> " + error;
                    });
                postman.sendRequest(
                    "GET",
                    _url,
                    null
                );
            }
        };

        this.addItems = function (data) {
            var i,
                max = this.perRowsInPage * this.perItemsInRow,
                length;

            for (i = 0, length = data.length; i < length && i < max; i++) {
                if (i < this.perItemsInRow) {
                    this.displayItemArray[0][i] = {
                        left: 60 + (i * 296),
                        top: 153,
                        width: 273,
                        height: 206,
                        flag: data[i].flag,
                        assetid: data[i].assetid,
                        img: data[i].img,
                        title: data[i].title,
                        id: data[i].id
                    }
                } else {
                    this.displayItemArray[1][(i - this.perItemsInRow)] = {
                        left: 60 + ((i - this.perItemsInRow) * 296),
                        top: 153 + 237,
                        width: 273,
                        height: 206,
                        flag: data[i].flag,
                        assetid: data[i].assetid,
                        img: data[i].img,
                        title: data[i].title,
                        id: data[i].id
                    }
                }
                /* end of if */
                document.getElementById("more_page_item_text_" + i).innerHTML = data[i].title;
//                $("more_page_item_img_" + i).children[0].src = paramObj.imgUrl + data[i].img;
                document.getElementById("more_page_item_img_" + i).children[0].src = data[i].img;
                document.getElementById("more_page_item_" + i).style.visibility = "visible";
            }
            /* end of for */
        };

        this.focusOn = function () {
            var _focusNode = document.getElementById("self_ad_focus");

            if (this.displayItemArray[0].length > 0) {
                _focusNode.style.visibility = "visible";
                _focusNode.style.left = this.displayItemArray[this.focusPosY][this.focusPosX].left + "px";
                _focusNode.style.top = this.displayItemArray[this.focusPosY][this.focusPosX].top + "px";
                _focusNode.style.width = this.displayItemArray[this.focusPosY][this.focusPosX].width + "px";
                _focusNode.style.height = this.displayItemArray[this.focusPosY][this.focusPosX].height + "px";
            }
        };

        this.focusOut = function () {

        };

        this.changePage = function (_direction) {
            var index;

            index = this.pageIndex + _direction;
            if (index >= 1) {
                document.getElementById("debug-message").innerHTML += "<br/>" + "changePage ==> direction = " + _direction + " | page index = " + index;
                this.init(this.resourceId, index);
            }
        };
    }

    function PageItemObj() {
        var that = this;

        MoreHelper.call(this);

        this.moveX = function (_direction) {

            console.info("pageItemObj ==> moveX ==> direction = " + _direction);
            this.focusPosX += _direction;

            if (this.focusPosX >= 0 && this.focusPosX < this.displayItemArray[this.focusPosY].length) {

            } else if (this.focusPosX < 0) {
                this.focusPosX = that.displayItemArray[this.focusPosY].length - 1;
            } else {
                this.focusPosX = 0;
            }

            this.focusOn();
        };

        this.moveY = function (_direction) {
            console.info("pageItemObj ==> moveY ==> direction = " + _direction);
            this.focusPosY += _direction;

            if (this.focusPosY >= 0 && this.focusPosY < this.perRowsInPage) {

            } else if (this.focusPosY < 0) {
                this.focusPosY = this.perRowsInPage - 1;
            } else {
                this.focusPosY = 0;
            }

            this.focusOn();

        };


        this.doSelect = function () {
            var _link = "";

            if (that.displayItemArray[that.focusPosY][that.focusPosX].flag === 0) {         // 文字列表项
                if (that.displayItemArray[that.focusPosY][that.focusPosX].img === "") {
                    _link = "text.html?itemId=" + that.displayItemArray[that.focusPosY][that.focusPosX].id + "&backUrl=" + encodeURIComponent(window.location.href);
                } else {
                    _link = "list.html?itemId=" + that.displayItemArray[that.focusPosY][that.focusPosX].id + "&backUrl=" + encodeURIComponent(window.location.href);
                }
            }
            window.location.href = _link;
        }
    }

    function Controller() {
        var that = this;

        Assistant.call(this);
        this.backUrl = "";

        this.init = function () {

            transferStation.record();       // 记录返回参数
            that.backUrl = transferStation.backUrl;

            pageItemObj.init(transferStation.resourceId, 1);
//            pageItemObj.focusOn();
        };

        this.focusOn = function () {
            pageItemObj.focusOn();
        };

        this.focusOut = function () {
            pageItemObj.focusOut();
        };

        this.moveX = function (_direction) {
            console.info("==>   moveX");
            pageItemObj.moveX(_direction);
        };

        this.moveY = function (_direction) {
            pageItemObj.moveY(_direction);
        };

        this.changePage = function (_num) {
            pageItemObj.changePage(_num);
        };

        this.doSelect = function () {
            pageItemObj.doSelect();
        };

        this.doBack = function () {
            window.location.href = that.backUrl;
        }
    }

    var
        pageItemObj = new PageItemObj(),
        controller = new Controller();

    //    function ajaxForQueryTitleListMobile() {
    //
    //
    //        var _url = paramObj.serverUrl +
    //            "queryTitleListMobile.shtml?resourceId=" +
    //            controller.resourceId +
    //            "&num=8&cur_page=1";
    //
    //        $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> URL: " + _url;
    //
    //        ajax({
    //            url: _url,
    //            type: "GET", //HTTP 请求类型,GET或POST
    //            dataType: "html", //请求的文件类型html/xml
    //
    //            onSuccess: function (html) { //请求成功后执行[可选]
    //
    //                $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> onSuccess";
    //                $("message").innerHTML += "<br/>" + "===>  Response = " + html;
    //
    //                var json = eval('(' + html + ')');
    //                if ("1" == json.code || 1 == json.code) {
    //
    //                    for (var j = 0; j < json.dataArray.length; j++) {
    //                        if (json.dataArray[j].flag == "1") {
    //
    //                            $("message").innerHTML += "<br/>" + "===>  AssetID in json = " + json.dataArray[j].assetid;
    //                            $("message").innerHTML += "<br/>" + "===>  Title in json = " + json.dataArray[j].title;
    //                            $("message").innerHTML += "<br/>" + "===>  img in json = " + json.dataArray[j].img;
    //
    //                            pageItemObj.addPageItem(
    //                                json.dataArray[j].assetid,
    //                                json.dataArray[j].img,
    //                                json.dataArray[j].title);
    //                        }
    //                    }
    //
    //                    pageItemObj.init();
    //
    //                }
    //            },
    //
    //            onError: function () { //请求失败后执行[可选]
    //                $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> onError";
    //            },
    //
    //            onComplete: function () {// 请求成功.失败或完成(无论成功失败都会调用)时执行的函数[可选]
    //                $("message").innerHTML += "<br/>" + "===>  ajaxForQueryTListMenuTitle ==> onComplete";
    //            },
    //
    //            post: "",
    //            timeout: 7000  //请求的超时时间，默认7000ms，也可自行设定[可选]
    //        });
    //    }

    function grabEvent(_event) {

        var code = Event(_event);

        switch (code) {
            case "KEY_NUMBER1":
                console.info("KEY_NUMBER1");
                controller.toggle();
                return false;
            case "KEY_UP": //
                controller.moveY(-1);
                return false;
            case "KEY_DOWN": //
                controller.moveY(1);
                return false;
            case "KEY_LEFT": //
                controller.moveX(-1);
                return false;
            case "KEY_RIGHT": //
                controller.moveX(1);
                return false;
            case "KEY_PAGE_UP": //
                controller.changePage(-1);
                return false;
            case "KEY_PAGE_DOWN": //
                controller.changePage(1);
                return false;
            case "KEY_SELECT": //
                controller.doSelect();
                return false;
            case "KEY_EXIT":
            case "KEY_BACK":
                controller.doBack();
                return false;
            default:
                break;
        }
    }
    document.onkeydown = grabEvent;
    window.onload = controller.init;

</script>

</html>

