<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>平安建设</title>
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/peace.css">
</head>
<body>
<div class="title-logo"
     style="background: url('../images/politics/peace-logo.png') no-repeat; "></div>
<div id="politics_content">
    <div id="politics_left_panel">
        <div id="politics_entry">
            <div id="politics_law" class="politics_entry_item"
                 style="background: url(../images/politics/politics_law.png) no-repeat; "></div>
            <div id="politics_guarantee" class="politics_entry_item"
                 style="background: url(../images/politics/politics_guarantee.png) no-repeat; "></div>
            <div id="politics_security" class="politics_entry_item"
                 style="background: url(../images/politics/politics_security.png) no-repeat; "></div>
            <div id="politics_people" class="politics_entry_item"
                 style="background: url(../images/politics/politics_people.png) no-repeat; "></div>
            <div id="politics_info" class="politics_entry_item"
                 style="background: url(../images/politics/politics_info.png) no-repeat; "></div>
            <div id="politics_culture" class="politics_entry_item"
                 style="background: url(../images/politics/politics_culture.png) no-repeat; "></div>
        </div>
        <div id="politics_ad_0">
            <img alt="ad_preview" src="../images/politics/building_ad.jpg" height="346"/>
        </div>
        <div id="politics_ad_1">
            <img alt="ad_preview" src="../images/politics/politics_ad_1.jpg" width="764"/>
        </div>
    </div>
    <div id="politics_notices_board">
        <div class="politics_notices_board_bar"
             style="background: url(../images/politics/politics_list_bar.png) no-repeat; width: 370px; height: 39px;"></div>
        <div id="list_menu_0" class="politics_list_item" style="top: 50px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="list_menu_1" class="politics_list_item" style="top: 85px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="list_menu_2" class="politics_list_item" style="top: 120px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="list_menu_3" class="politics_list_item" style="top: 155px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="list_menu_4" class="politics_list_item" style="top: 190px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="list_menu_5" class="politics_list_item" style="top: 225px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="list_menu_6" class="politics_list_item" style="top: 260px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="list_menu_7" class="politics_list_item" style="top: 295px;">
            <div class="politics_list_item_text"></div>
        </div>
        <div id="politics-notice-board-more"
             style="background: url(../images/list-item-more.png) no-repeat; width: 126px; height: 18px;"></div>
    </div>
</div>

<!--底部-->
<div id="weather-forecast"></div>
<div id="intro-btn-usage"></div>

<div id="self_ad_focus">
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td width="10" height="10"
                style="background:url(../images/focus_lt.png) no-repeat;"></td>
            <td style="background:url(../images/focus_t.png) repeat-x;"></td>
            <td width="10" style="background:url(../images/focus_rt.png) no-repeat;"></td>
        </tr>
        <tr>
            <td style="background:url(../images/focus_l.png) repeat-y;"></td>
            <td>&nbsp;</td>
            <td style="background:url(../images/focus_r.png) repeat-y;"></td>
        </tr>
        <tr>
            <td width="10" height="10" style="background:url(../images/focus_lb.png) no-repeat;"></td>
            <td style="background:url(../images/focus_b.png) repeat-x;"></td>
            <td style="background:url(../images/focus_rb.png) no-repeat;"></td>
        </tr>
        </tbody>
    </table>
</div><!-- self_ad_focus -->
<div id="debug-message"></div>
</body>

<script type="application/javascript" src="../script/async.js"></script>
<script type="application/javascript" src="../script/utility.js"></script>
<script type="application/javascript" src="../script/keyEvent.js"></script>
<script type="text/javascript">

    var menuObj = {

            focusPosX: 0,                           // 记录光标在区域内的位置
            focusPosY: 0,                           // 记录光标在区域内的所在行
            itemsPerLine: [2, 2, 2],                // 每行所包含的元素数量
            menuPosArray: [
                {left: 59, top: 152, width: 157, height: 116, url: ""},
                {left: 215, top: 152, width: 157, height: 116, url: ""},
                {left: 59, top: 268, width: 157, height: 116, url: ""},
                {left: 215, top: 268, width: 157, height: 116, url: ""},
                {left: 59, top: 385, width: 157, height: 116, url: ""},
                {left: 215, top: 385, width: 157, height: 116, url: ""}
            ]
            ,


            init: function () {

            }
            ,

            focusOn: function () {

                console.info("menuObj ==> focusOn ==> X:" + this.focusPosX + " Y:" + this.focusPosY);

                var _num = 0;

                for (var i = 0; i < this.focusPosY; i++) {
                    _num += this.itemsPerLine[i];
                }

                _num += this.focusPosX;

                var _focusNode = document.getElementById("self_ad_focus");
                _focusNode.style.visibility = "visible";
                _focusNode.style.left = this.menuPosArray[_num].left + "px";
                _focusNode.style.top = this.menuPosArray[_num].top + "px";
                _focusNode.style.width = this.menuPosArray[_num].width + "px";
                _focusNode.style.height = this.menuPosArray[_num].height + "px";
            }
            ,

            focusOut: function () {
            }
            ,

            moveX: function (_direction) {

                this.focusPosX += _direction;

                if (this.focusPosX >= 0 && this.focusPosX < this.itemsPerLine[this.focusPosY]) {
                    if (this.focusPosX >= this.itemsPerLine[this.focusPosY]) {
                        this.focusPosX = this.itemsPerLine[this.focusPosY] - 1;
                    }
                    this.focusOn();

                } else if (this.focusPosX < 0) {
                    this.focusPosX = 0;
                    if (listObj.listItemTitleArray.length > 0) {
                        controller.focusArea = 2;
                        controller.focusOn();
                    } else {
                        controller.focusArea = 1;
                        postObj.focusPos = 0;
                        postObj.focusOn();
                    }
                } else {
                    this.focusPosX = this.itemsPerLine[this.focusPosY] - 1;
                    controller.focusArea = 1;
                    postObj.focusPos = 0;
                    postObj.focusOn();
                }
            },

            moveY: function (_direction) {

                this.focusPosY += _direction;

                if (this.focusPosY >= 0 && this.focusPosY < this.itemsPerLine.length) {

                    this.focusOn();

                } else if (this.focusPosY < 0) {

                    this.focusPosY = 0;

                    controller.focusArea = 1;
                    postObj.focusPos = 1;
                    postObj.focusOn();

                } else {

                    this.focusPosY = this.itemsPerLine.length - 1;

                    controller.focusArea = 1;
                    postObj.focusPos = 1;
                    postObj.focusOn();

                }

            }
            ,

            doSelect: function () {

                var _num = 0;

                for (var i = 0; i < this.focusPosY; i++) {
                    _num += this.itemsPerLine[i];
                }

                _num += this.focusPosX;

                var link = this.menuPosArray[_num].url;

                if ("" != link) {
                    window.location.href = link;
                }

            }

        },

        postObj = {

            focusPos: 0,                // 记录光标在区域内的位置
            postItemArray: [
                {
                    left: 375,
                    top: 150,
                    width: 451,
                    height: 355,
                    url: "play.html?assetid=FFMZ0000000000009141&backUrl=" + encodeURIComponent(window.location.href)
                },

                {
                    left: 59,
                    top: 505,
                    width: 767,
                    height: 116,
//                url: _link = "more.html?resourceId=" + paramObj.djjyResourceIdArray[0].resourceId
                    url: "monitor.html?rtsp=rtsp://10.184.255.7:554/140801121006552&backUrl=" + encodeURIComponent(window.location.href)
                }
            ],

            init: function () {
            },

            focusOn: function () {
                var _focusNode = document.getElementById("self_ad_focus");
                _focusNode.style.visibility = "visible";
                _focusNode.style.left = this.postItemArray[this.focusPos].left + "px";
                _focusNode.style.top = this.postItemArray[this.focusPos].top + "px";
                _focusNode.style.width = this.postItemArray[this.focusPos].width + "px";
                _focusNode.style.height = this.postItemArray[this.focusPos].height + "px";
            },

            focusOut: function () {

            },

            moveX: function (_direction) {

                if (_direction < 0) {

                    if (this.focusPos === 0) {
                        controller.focusArea = 0;       //  移到菜单区域
                        menuObj.focusPosY = 0;          //  光标定位至首行
                        menuObj.focusPosX = menuObj.itemsPerLine[menuObj.focusPosY] - 1;
                        menuObj.focusOn();
                    } else {
                        if (listObj.listItemTitleArray.length > 0) {
                            controller.focusArea = 2;       // 移到文字列表区域
                            listObj.focusOn();
                        }
                    }

                } else {
                    if (listObj.listItemTitleArray.length > 0) {
                        controller.focusArea = 2;           // 移到文字列表区域
                        listObj.focusOn();
                    }
                }

            },

            moveY: function (_direction) {

                this.focusPos += _direction;

                if (this.focusPos >= 0 && this.focusPos < this.postItemArray.length) {

                } else if (this.focusPos < 0) {
                    this.focusPos = this.postItemArray.length - 1;
                } else {
                    this.focusPos = 0;
                }

                this.focusOn();

            },

            doSelect: function () {

                var link = this.postItemArray[this.focusPos].url;

                if ("" != link) {
                    window.location.href = link;
                }

            }
        },

        listObj = new ListObj(),

        controller = new Controller();

    function Controller() {

        var that = this;

        Assistant.call(this);

        this.focusArea = 0;

        this.init = function () {

            console.info("controller ==> init");
            transferStation.record();
            listObj.init();
            $("self_ad_focus").style.visibility = "visible";
            that.focusOn();
        };

        this.focusOn = function () {

            switch (that.focusArea) {
                case 0:             // 菜单
                    menuObj.focusOn();
                    break;
                case 1:             // 海报
                    postObj.focusOn();
                    break;
                case 2:             // 文字列表
                    listObj.focusOn();
                    break;
                default:
                    break;
            }
        };

        this.focusOut = function () {

        };

        this.moveX = function (_direction) {
            switch (that.focusArea) {
                case 0:             // 菜单
                    menuObj.moveX(_direction);
                    break;
                case 1:             // 海报
                    postObj.moveX(_direction);
                    break;
                case 2:             // 文字列表
                    listObj.moveX(_direction);
                    break;
                default:
                    break;
            }
        };

        this.moveY = function (_direction) {

            switch (that.focusArea) {
                case 0:             // 菜单
                    menuObj.moveY(_direction);
                    break;
                case 1:             // 海报
                    postObj.moveY(_direction);
                    break;
                case 2:             // 文字列表
                    listObj.moveY(_direction);
                    break;
                default:
                    break;
            }
        };

        this.changePage = function (_direction) {

        };

        this.doSelect = function () {
            switch (that.focusArea) {
                case 0:             // 菜单
                    menuObj.doSelect();
                    break;
                case 1:             // 海报
                    postObj.doSelect();
                    break;
                case 2:             // 文字列表
                    listObj.doSelect(listObj.focusPos);
                    break;
                default:
                    break;
            }
        };

        this.doBack = function () {
            window.location.href = "index.html?focusArea=" + transferStation.idxFocusArea + "&focusPos=" + transferStation.idxFocusPos + "&focusItemName=" + transferStation.idxFocusName;
        };
    }

    function ListObj() {
        // 复制ListHelper的实例属性
        ListHelper.call(this);

        // 属性
        this.focusPos = 0;
        this.listItemNum = 8;

        this.itemLeft = 845;
        this.itemTop = 200;
        this.itemWidth = 358;
        this.itemHeight = 23;

        this.itemMoreLeft = 1030;
        this.itemMoreTop = 570;
        this.itemMoreWidth = 158;
        this.itemMoreHeight = 23;

        // 方法
        this.init = function () {
//            var test = [
//                {assetID: 611, title: '"美丽莆田 社会治理"司法行政创新现场会', flag: 0, id: 111},
//                {assetID: 611, title: '建设美丽莆田行动纲要', flag: 0, id: 111},
//                {assetID: 611, title: '美丽港城 冉冉起', flag: 0, id: 111},
//                {assetID: 611, title: '"拱辰街道依法拆除违章建筑', flag: 0, id: 111},
//                {assetID: 611, title: '开启“智慧物流” 助力物畅其流', flag: 0, id: 111},
//                {assetID: 611, title: '"美丽莆田 社会治理"司法行政创新现场会', flag: 0, id: 111},
//                {assetID: 611, title: '建设美丽莆田行动纲要', flag: 0, id: 111},
//                {assetID: 611, title: '美丽港城 冉冉起', flag: 0, id: 111},
//                {assetID: 611, title: '"拱辰街道依法拆除违章建筑', flag: 0, id: 111},
//                {assetID: 611, title: '开启“智慧物流” 助力物畅其流', flag: 0, id: 111},
//                {assetID: 611, title: '"美丽莆田 社会治理"司法行政创新现场会', flag: 0, id: 111}
//            ];
//            this.addListItem(test);
            var that = this,
                postman = new Postman(),
                _url = paramObj.serverUrl +
                    "queryTitleListMobile.shtml?resourceId=" + paramObj.peaceResourceIdArray[1].resourceId + "&num=" + (this.listItemNum + 1) + "&cur_page=1";

            $("debug-message").innerHTML += "<br/>" + " URL ==> " + _url;

            postman.createXmlHttpRequest(
                function (html) {
                    $("debug-message").innerHTML += "<br/>" + " ==> onFetchListSuccess ";
                    var json = eval('(' + html + ')');
                    $("debug-message").innerHTML += "<br/>" + " URL:" + html;

                    if ("1" === json.code || 1 === json.code) {
                        that.addListItem(json.dataArray);
                    }
                },
                function (error) {
                    $("debug-message").innerHTML += "<br/>" + " ==> onFetchListFail ";
                    $("debug-message").innerHTML += "<br/>" + " Error ==> " + error;
                });
            postman.sendRequest(
                "GET",
                _url,
                null
            );
        };

        this.moveX = function (_direction) {
            this.focusOut();
            if (_direction < 0) {
                controller.focusArea = 1;   // 移到海报区域

                postObj.focusPos = 0;
                postObj.focusOn();
            } else {
                controller.focusArea = 0;   // 移到菜单区域

                menuObj.focusPosX = 0;
                menuObj.focusPosY = 0;
                menuObj.focusOn();
            }
        };

        this.moveY = function (_direction) {
            this.focusOut();
            this.focusPos += _direction;
            if (this.focusPos >= 0 && this.focusPos < this.listItemTitleArray.length) {
            } else if (this.focusPos < 0) {
                this.focusPos = this.listItemTitleArray.length - 1;
            } else {
                this.focusPos = 0;
            }
            this.focusOn();
        };

    }

    function grabEvent(_event) {

        var code = Event(_event);

        switch (code) {
            case "KEY_NUMBER1":
                console.info("KEY_NUMBER1");
                controller.toggle();
                return false;
            case "KEY_UP": //
                controller.moveY(-1);
                return false;
            case "KEY_DOWN": //
                controller.moveY(1);
                return false;
            case "KEY_LEFT": //
                controller.moveX(-1);
                return false;
            case "KEY_RIGHT": //
                controller.moveX(1);
                return false;
            case "KEY_PAGE_UP": //
                controller.changePage(-1);
                return false;
            case "KEY_PAGE_DOWN": //
                controller.changePage(1);
                return false;
            case "KEY_SELECT": //
                controller.doSelect();
                return false;
            case "KEY_EXIT":
            case "KEY_BACK":
                controller.doBack();
                return false;
            default:
                break;
        }
    }
    document.onkeydown = grabEvent;
    window.onload = controller.init();

</script>

</html>