<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="page-view-size" content="1280*720"/>
    <title>视频播放</title>
</head>

<body bgcolor="#000000" leftmargin="0" topmargin="0">

<!--加载图标-->
<div id="loadingImg" style="position:absolute; left:579px; top:299px; width:121px; height:121px; visibility: hidden">
    <img src="../images/loadingIcon.gif" width="121" height="121"/>
</div>

<div id="message" style="position: absolute; top:10px; left: 30px; color: azure"></div>

</body>

<script type="text/javascript" src="../script/utility.js"></script>
<script type="text/javascript" src="../script/keyEvent.js"></script>
<script type="text/javascript" src="../script/ajax.js"></script>
<script language="javascript">

    var manager = {

            xhr: null,

            createXmlHttpRequest: function (_successCallback, _failedCallback) {

                $("message").innerHTML += "<br/>" + "manager    ==>    createXmlHttpRequest";

                if (manager.xhr !== null) {

                    manager.abortRequest();

                } else {

                    try {

                        manager.xhr = new XMLHttpRequest();

                    } catch (exception) { //Internet Explorer

                        try {

                            manager.xhr = new ActiveXObject("Msxml2.XMLHTTP");

                        } catch (exception) {

                            try {

                                manager.xhr = new ActiveXObject("Microsoft.XMLHTTP");

                            } catch (exception) {

                                throw exception;

                            }

                        }
                    }
                }

                /**
                 * readyState 存有 XMLHttpRequest 的状态。从 0 到 4 发生变化。
                 0: 请求未初始化
                 1: 服务器连接已建立
                 2: 请求已接收
                 3: 请求处理中
                 4: 请求已完成，且响应已就绪
                 status 状态
                 200: "OK"
                 404: 未找到页面
                 * */
                manager.xhr.onreadystatechange = function () {
                    $("message").innerHTML += "<br/>" + "==> onreadystatechange readyState: " + manager.xhr.readyState + ", status:" + manager.xhr.status;

                    if (manager.xhr.readyState === 4 && manager.xhr.status === 200) {

                        $("message").innerHTML += "<br/>" + "==>    succeed";

                        _successCallback(manager.xhr.responseXML);

                    } else {

                        $("message").innerHTML += "<br/>" + "==>    failed!";

                        _failedCallback("oops..");

                    }
                };
            },

            sendRequest: function (_method, _url, _data) {
                $("message").innerHTML += "<br/>" + "manager    ==>    sendRequest";

                manager.xhr.open(_method, _url, true);     // 规定请求的类型、URL 以及是否异步处理请求
                manager.xhr.setRequestHeader("Content-type", "application/xml;charset=utf-8");
                manager.xhr.send(_data);

            }
            ,

            abortRequest: function () {
                $("message").innerHTML += "<br/>" + "manager    ==>    abortRequest";

                if (manager.xhr !== null) {

                    manager.xhr.abort();        // 中止异步请求

                }
            }
        },

        controller = {

            assetId: "",
            backUrl: "",
            videoParam: null,

            init: function () {

                console.info("controller    ==>     init()");

                transferStation.record();

                controller.assetId = transferStation.assetId;
                controller.backUrl = transferStation.backUrl;

                console.info("assetId: " + controller.assetId + ",backUrl:" + controller.backUrl);
                $("message").innerHTML += "<br/>" + "assetId: " + controller.assetId + ", backUrl:" + controller.backUrl;

                // 获取视频相关参数
                manager.createXmlHttpRequest(controller.onSuccess, controller.onFailed);
                manager.sendRequest(
                    "POST",
                    "http://10.215.0.12:8080/GetItemData",
                    "<?xml version='1.0' encoding='UTF-8' standalone='yes'?><GetItemData titleAssetId='" +
                    controller.assetId + "' portalId='1' client='8350310530884545' account='8350310530884545' languageCode='Zh-CN' profile='1'/>");

            },

            onSuccess: function (_response) {
                console.info("controller    ==>     onSuccess() with response " + _response);
                $("message").innerHTML += "<br/>" + "controller    ==>     onSuccess()";

                var _data = parseDom(_response);
                var _json = parseJson(_data.toJson());

                if (typeof (_json) === "object" && _json !== null) {

                    var _key = "ItemData";

                    if (_key in _json) {

                        controller.videoParam = _json.ItemData[0].SelectableItem[0];

                        controller.toPlayVideo(controller.videoParam);     //

                    } else {

                        // 错误处理
                        if ("NavServerResponse" in _json) {
                            var _message = _json.NavServerResponse[0].message;
                            var _errorCode = _json.NavServerResponse[0].code;

                            $("message").innerHTML += "<br/>" + "Error - " + _errorCode + ", message:" + _message;
                        }

                    }

                } else {

                    // 错误处理

                }
            },

            onFailed: function (_response) {
                console.info("controller    ==>     onFailed() with response " + _response);
                $("message").innerHTML += "<br/>" + "controller    ==>     onFailed()";

//            controller.toPlayVideo(controller.videoParam);

            },

            exit: function () {

                console.info("controller    ==>     exit()");

                manager.abortRequest();

            }
            ,

            doBack: function () {

                window.location.href = controller.backUrl;

            },

            toPlayVideo: function (_video) {
                console.info("controller    ==>     toPlayVideo()");
                $("message").innerHTML += "<br/>" + "controller    ==>     toPlayVideo()";

                manager.createXmlHttpRequest(controller.getVideoAddressSuccess, controller.getVideoAddressFailed);
                manager.sendRequest(
                    "POST",
                    "http://10.215.0.12:8080/SelectionStart",
                    "<?xml version='1.0' encoding='UTF-8' standalone='yes'?><SelectionStart titleAssetId='" +
                    controller.assetId + "' folderAssetId='" + controller.assetId + "' portalId='1'  client='" + CAManager.cardSerialNumber +
                    "' account='" + account + "' serviceId='" + _video.serviceId + "'/>"
                );

            },

            getVideoAddressSuccess: function (_response) {
                console.info("controller    ==>     getVideoAddressSuccess()");
                $("message").innerHTML += "<br/>" + "controller    ==>     getVideoAddressSuccess";

                var _data = parseDom(_response);
                var _json = parseJson(_data.toJson());

                if (typeof (_json) === "object" && _json !== null) {

                    var rtsp = _json.StartResponse[0].rtsp.split(";");
                    var serverId = rtsp[2].split(":");
                    var playUrl = rtsp[0] + ";" + rtsp[1] + ";" + serverId[0] + ":8080" + ";areacode=" + VOD.areaCode + ";client=" + CAManager.cardSerialNumber;
                    GlobalVarManager.setItemStr("vodPlayUrl", playUrl);     // areacode: 3019

                    $("message").innerHTML += "<br/>" + "getVideoAddressSuccess ==> " + playUrl;
                    $("message").innerHTML += "<br/><br/><br/>";

                    var playIp = "http://vod.fjgdwl.com:80/gldb/NEW_UI/vodPlay/";   // 去vod播放的路径
                    var resumePoint = 0;

                    var _link = playIp + "vodPlay.htm?previewId=" + _json.StartResponse[0].previewAssetId +
                        "&startTime=" + _json.StartResponse[0].startTime + "&purchaseToken=" + _json.StartResponse[0].purchaseToken +
                        "&playCurrName=" + controller.videoParam.titleFull + "&assetId=" + controller.assetId +
                        "&rentDateTime=" + controller.videoParam.RentalInfo[0].rentDateTime + "&providerId=" + controller.videoParam.providerId +
                        "&displayRunTime=" + controller.videoParam.displayRunTime + "&folderAssetId=" + controller.videoParam.folderAssetId +
                        "&resumePoint=" + resumePoint + "&from=" + controller.backUrl;

                    $("message").innerHTML += "<br/>" + "getVideoAddressSuccess ==> =" + _link;
                    $("message").innerHTML += "<br/><br/><br/>";

                    window.location.href = _link;

                } else {
                    // 错误处理
                }

            },

            getVideoAddressFailed: function (_response) {
                console.info("controller    ==>     getVideoAddressFailed()");
                $("message").innerHTML += "<br/>" + "controller    ==>     getVideoAddressFailed";

            }
        };

    function grabEvent(_event) {

        var code = Event(_event);

        switch (code) {
            case "KEY_EXIT":
            case "KEY_BACK":
                controller.doBack();
                return false;
            default:
                break;
        }
    }
    document.onkeydown = grabEvent;
    window.onload = controller.init;
    window.onunload = controller.exit;

</script>
