<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="page-view-size" content="1280*720"/>
    <title>视频播放</title>
</head>

<body bgcolor="#000000" leftmargin="0" topmargin="0">

<!--加载图标-->
<div id="loadingImg" style="position:absolute; left:579px; top:299px; width:121px; height:121px; visibility: hidden">
    <img src="../images/loadingIcon.gif" width="121" height="121"/>
</div>

<div id="message" style="position: absolute; top:10px; left: 30px; color: azure"></div>

</body>

<script type="application/javascript" src="../script/async.js"></script>
<script type="application/javascript" src="../script/utility.js"></script>
<script type="application/javascript" src="../script/keyEvent.js"></script>
<script type="application/javascript">

    var
        assetId = "",
        backUrl = "";

    function init() {
        console.info("  ==>     init()");

        transferStation.record();

        assetId = transferStation.assetId;
        backUrl = transferStation.backUrl;

        console.info("assetId: " + assetId + ",backUrl:" + backUrl);
        $("message").innerHTML += "<br/>" + "assetId: " + assetId + ", backUrl:" + backUrl;

        // 获取视频相关参数
        postman.createXmlHttpRequest(getParametersSuccess, getParametersFail);
        $("message").innerHTML += "<br/>" + "IP: " + GlobalVarManager.getItemStr("ip") + " Port: " + GlobalVarManager.getItemStr("port") + " Client: " + CAManager.cardSerialNumber + " Account: " + GlobalVarManager.getItemStr("account");
        postman.sendRequest(
            "POST",
            "http://" + GlobalVarManager.getItemStr("ip") + ":" + GlobalVarManager.getItemStr("port") + "/GetItemData",
            "<?xml version='1.0' encoding='UTF-8' standalone='yes'?><GetItemData titleAssetId='" +
            assetId + "' portalId='1' client='" + CAManager.cardSerialNumber + "' account='" + GlobalVarManager.getItemStr("account") + "' languageCode='Zh-CN' profile='1'/>");
    }

    function exit() {
        console.info("  ==>     exit()");
        postman.abortRequest();
    }

    function doBack() {
        window.location.href = backUrl;
    }

    function getParametersSuccess(_response) {
        var _key = "ItemData",
            _data,
            _json,
            _message = "",
            _errorCode;

        console.info("  ==>     getParametersSuccess() with response " + _response);
        $("message").innerHTML += "<br/>" + "  ==>     getParametersSuccess()";
        $("message").innerHTML += "<br/>" + "  ==>     Response: " + _response;

        _data = parseDom(_response);
        _json = eval('(' + _data.toJson() + ')');

        if (typeof (_json) === "object" && _json !== null) {

            if (_key in _json) {

                toPlayVideo(_json.ItemData[0].SelectableItem[0]);     //

            } else {

                // 错误处理
                if ("NavServerResponse" in _json) {
                    _message = _json.NavServerResponse[0].message;
                    _errorCode = _json.NavServerResponse[0].code;

                    $("message").innerHTML += "<br/>" + "Error - " + _errorCode + ", message:" + _message;
                }

            }

        } else {

            // 错误处理

        }
    }

    function getParametersFail(_response) {
        console.info("  ==>     getParametersFail() with response " + _response);
        $("message").innerHTML += "<br/>" + "  ==>     getParametersFail()";

    }

    function toPlayVideo(_video) {
        var
            account = "8350310530884545",
            videoParam = _video;

        console.info("  ==>     toPlayVideo()");
        $("message").innerHTML += "<br/>" + "  ==>     toPlayVideo()";

        postman.createXmlHttpRequest(getVideoAddressSuccess, getVideoAddressFailed);
        postman.sendRequest(
            "POST",
            "http://10.215.0.12:8080/SelectionStart",
            "<?xml version='1.0' encoding='UTF-8' standalone='yes'?><SelectionStart titleAssetId='" +
            assetId + "' folderAssetId='" + assetId + "' portalId='1'  client='" + CAManager.cardSerialNumber +
            "' account='" + account + "' serviceId='" + videoParam.serviceId + "'/>"
        );
    }

    function getVideoAddressSuccess(_response) {
        console.info("  ==>     getVideoAddressSuccess()");
        $("message").innerHTML += "<br/>" + "  ==>     getVideoAddressSuccess";

        var _data = parseDom(_response);
        var _json = parseJson(_data.toJson());

        if (typeof (_json) === "object" && _json !== null) {

            var rtsp = _json.StartResponse[0].rtsp.split(";");
            var serverId = rtsp[2].split(":");
            var playUrl = rtsp[0] + ";" + rtsp[1] + ";" + serverId[0] + ":8080" + ";areacode=" + VOD.areaCode + ";client=" + CAManager.cardSerialNumber;
            GlobalVarManager.setItemStr("vodPlayUrl", playUrl);     // areacode: 3019

            $("message").innerHTML += "<br/>" + "getVideoAddressSuccess ==> " + playUrl;
            $("message").innerHTML += "<br/><br/><br/>";

            var playIp = "http://vod.fjgdwl.com:80/gldb/NEW_UI/vodPlay/";   // 去vod播放的路径
            var resumePoint = 0;

            var _link = playIp + "vodPlay.htm?previewId=" + _json.StartResponse[0].previewAssetId +
                "&startTime=" + _json.StartResponse[0].startTime + "&purchaseToken=" + _json.StartResponse[0].purchaseToken +
                "&playCurrName=" + videoParam.titleFull + "&assetId=" + assetId +
                "&rentDateTime=" + videoParam.RentalInfo[0].rentDateTime + "&providerId=" + videoParam.providerId +
                "&displayRunTime=" + videoParam.displayRunTime + "&folderAssetId=" + videoParam.folderAssetId +
                "&resumePoint=" + resumePoint + "&from=" + backUrl;

            $("message").innerHTML += "<br/>" + "getVideoAddressSuccess ==> =" + _link;
            $("message").innerHTML += "<br/><br/><br/>";

            window.location.href = _link;

        } else {
            // 错误处理
        }
    }

    function getVideoAddressFailed(_response) {
        console.info("  ==>     getVideoAddressFailed()");
        $("message").innerHTML += "<br/>" + "  ==>     getVideoAddressFailed";
    }

    function grabEvent(_event) {

        var code = Event(_event);

        switch (code) {
            case "KEY_EXIT":
            case "KEY_BACK":
                doBack();
                return false;
            default:
                break;
        }
    }
    document.onkeydown = grabEvent;
    window.onload = init;
    window.onunload = exit;

</script>
